{% extends "blog/base.html" %}
{% block content %}
<div class="container mt-4">
    <section class="about-author">
        <h1>About the Author</h1>
        <h3 style="text-align: justify;">
            Hello! I'm Sai Tarun Velupuri, and I have a Bachelor's degree in Computer Science and Engineering. I’m passionate about software development and technology, with strong skills in Java, Python, HTML, CSS, JavaScript, and Django.
            Through this blogging website project, I'm enhancing my web development skills, building interactive features, and working with user authentication and content management. I'm always eager to learn new technologies and improve my craft.
            Thank you for visiting my blog, and feel free to connect with me!
        </h3>
    </section>
</div>
{% endblock %}
